
/*navbar*/
#logo{
    font-size: 30px;
    margin-left: 30px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px black; 
}
#logo img{
    margin-bottom: 10px;
}
#logo span{
    color: #8E1313;
}
.nav-item{
    margin-left: 30px;
}
.nav-item .nav-link{
    color: black;
    font-weight: bold;
    transition: o.5s ease;
}
#first-child{
    color: #8E1313;
    text-shadow: 1px 1px 1px black;
}
.nav-item .nav-link:hover{
    color: #8E1313;
    text-shadow: 1px 1px 1px black;
}
.icons{
    margin-right: 30x;
}
.icons i{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width: 982px){
    .icons{
        margin-left: 25px;
    }    
}


/*navbar*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .product-container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .product-image {
    flex: 1;
    padding: 20px;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
  }
  
  .product-details {
    flex: 1;
    padding: 20px;
  }
  
  .product-title {
    font-size: 24px;
    margin-top: 0;
  }
  
  .product-price {
    font-size: 18px;
    color: #888;
  }
  
  .add-to-cart-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  